*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.blackbg{
  width: 100vw;
  height: 100vh;
  background-color: black;
}

/* Modal.module.css */
.modalBackdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(67, 84, 97, 0.638); /* Semi-transparent background */
  }
  
  .modalContent {
    position: relative;
    background: #000000; /* White background for modal content */
    padding-top: 5px;
    padding-left: 12px;
    padding-bottom: 20px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow for a subtle lift */
    width: 31.5%;
    height: auto;
    min-height: 70%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* Add more styling based on your design */



  .loader {
   
    width: 30px;
    height: 30px;
    border: 3px solid rgba(18, 81, 208, 0.518);
    border-bottom-color: #0099ff;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

    .loader{
      position: absolute;
  top: 45%;
  transform: translate(0, -40%);
    }

    

   



  .firstPart{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
  }

  .closeBtn{
    position: relative;
    margin-top: 2px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: .2s ease-in-out;
  }


  .backButton{
    position: relative;
    margin-top: 2px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: .2s ease-in-out;
  }

  .backButton{
    text-align: center
  }
  .backButton>i{
    text-align: center;
    font-size: 18px;
  }

  .backButton:hover{
    transition: .2s ease-in-out;
    background-color: rgba(128, 128, 128, 0.307);
    cursor: pointer;
  }

  .backButton::after{
    position: absolute;
    bottom:  -150%;
    content: 'Back';
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(128, 128, 128, 0.656);
    padding: 3px;
    padding-inline: 4px;
    text-align: center;
    opacity: 0; /* Initially set opacity to 0 */
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    transform: translateY(0); /* Initial position */
   /* Delay appearance for 1 second */
  }
  .backButton:hover::after{
    letter-spacing: 1px;
    opacity: 1; /* Make the content visible */
    transform: translateY(-100%); /* Move the content into view */
  }
 

  .closeBtn>i{
    text-align: center;
    font-size: 18px;
    
  }

  .closeBtn:hover{
    transition: .2s ease-in-out;
    background-color: rgba(128, 128, 128, 0.307);
    cursor: pointer;
  }


  .closeBtn::after {
    position: absolute;
    bottom:  -150%;
    content: 'Close';
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(128, 128, 128, 0.656);
    padding: 3px;
    padding-inline: 4px;
    text-align: center;
    opacity: 0; /* Initially set opacity to 0 */
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    transform: translateY(0); /* Initial position */
   /* Delay appearance for 1 second */
  }
  


  .closeBtn:hover::after{
    opacity: 1; /* Make the content visible */
  transform: translateY(-100%); /* Move the content into view */
  }

  


  .firstPart>h5{
    text-align: left;
    width: 90%;
    font-size: 20px;
  }




  .createAccount{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
  }

  .mainFormDiv{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    padding-inline: 70px;
    margin-bottom: 50px;
  }








  .mainFormDiv>h4{
    padding-bottom: 20px;
    padding-top: 30px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .inputDiv{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }


  .inputDiv>input{
    width: 100%;
    border-radius: 6px;
    background: transparent;
    border: 1px solid rgba(128, 128, 128, 0.314);
    font-size: 17px;
    color: white;
    letter-spacing: 1px;
  }



  /*here is the all of styled input css*/
  .styledInputDiv{
    width: 100%;
    height: 60px;
    position: relative;
    display: grid;
    place-items: center;
    border: 1px solid  rgba(128, 128, 128, 0.314) ;
    border-radius: 6px;
    padding: 10px;
  }

  .styledInputDiv>.input1{
    position: absolute;
    bottom: 0%;
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 6px;
    background: transparent;
    font-size: 17px;
    color: white;
    letter-spacing: 1px;
    padding-block: 40px;
  }
  .input1:focus{
    outline: none;
  }
  .label1{
    position: absolute;
    top: 30%;
    left: 11px;
    font-size: 17px;
    color: grey;
    transition: .3s ease-out;
  }



  .input1:focus ~ .label1{
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 14px;
    color: rgb(120,122,122);
  }

  .input1:not(:placeholder-shown) ~ .label1,
  .input1:not(:empty) ~ .label1{
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 14px;
    color: rgb(120,122,122);

  }




  .styledInputDiv2{
    width: 100%;
    height: 60px;
    position: relative;
    display: grid;
    place-items: center;
    border: 1px solid  rgba(128, 128, 128, 0.314) ;
    border-radius: 6px;
    padding: 10px;
  }

  .styledInputDiv2>.input2{
    position: absolute;
    bottom: 0%;
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 6px;
    background: transparent;
    font-size: 17px;
    color: white;
    letter-spacing: 1px;
    padding-block: 40px;
  }

  .input2:focus{
    outline: none;
  }
  .label2{
    position: absolute;
    top: 30%;
    left: 11px;
    font-size: 17px;
    color: grey;
    transition: .3s ease-out;
  }

  
  .input2:focus ~ .label2{
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 14px;
    color: rgb(120,122,122);
  }

  .input2:not(:placeholder-shown) ~ .label2,
  .input2:not(:empty) ~ .label2{
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 14px;
    color: rgb(120,122,122);

  }




  /**/

 

 

  /* .input1{
    width: 100%;
    padding-inline: 20px;
    padding-block: 15px;
    border-radius: 6px;
    background: transparent;
    font-size: 17px;
    color: white;
    letter-spacing: 1px;
  } */

  .changer{
    margin-top: 10px;
    font-size: 16px;
    display: flex; 
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
  }


  .convertButton:hover{
    cursor: pointer;
  }

  .changer>a{
    color: #0099ff;
    text-decoration: none;

  }
  .changer>a:hover{
    text-decoration: underline;
  }

  .dateOfBirthContainer{
    display: flex;
    height: 30%;
    width: 100%;
    margin-bottom: 50px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  .span{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .paragraph{
    width: 100%;
    font-size: 15px;
    color: grey;
    text-align: left;
    margin-bottom: 10px;
  }


  /*select container Styling*/

  .selectContainer{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 15px;
    margin-top: 10px;
  }

  .miniContainer1{
    position: relative;
    width: 45%;
    border: 1px solid  rgba(128, 128, 128, 0.314);
    height: 100%;
    border-radius: 6px;
  }

  .miniContainer2{
    position: relative;
    width: 25%;
    border: 1px solid  rgba(128, 128, 128, 0.314);
    height: 100%;
    border-radius: 6px;
  }

  .miniContainer2>i{
    position: absolute;
    font-size: 12px;
    top: 40%;
    right: 15px;
    z-index: 10;
  color: #fff;
  font-size: 18px;
  }

  .miniContainer3{
    position: relative;
    width: 30%;
    border: 1px solid  rgba(128, 128, 128, 0.314);
    height: 100%;
    border-radius: 6px;
  }

  .miniContainer3>i{
    position: absolute;
    font-size: 12px;
    top: 40%;
    right: 15px;
    z-index: 10;
  color: #fff;
  font-size: 18px;
  }

  .label{
    position: absolute;
    font-size: 12px;
    color: grey;
    top: 2px;
    left: 10px;
  }

  .miniContainer1>i{
    position: absolute;
    font-size: 12px;
    top: 40%;
    right: 15px;
    z-index: 10;
  color: #fff;
  font-size: 18px;
  }
  .select1{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 80%;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 17px;
    padding-inline: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .select1>option{
    background-color: black;
    color: white;
    font-size: 17px;
  }

  .select2{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 80%;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 17px;
    padding-inline: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .select2>option{
    background-color: black;
    color: white;
    font-size: 17px;
  }
  .select3{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 80%;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 17px;
    padding-inline: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .select3>option{
    background-color: black;
    color: white;
    font-size: 17px;
  }


 


/* 
  .selectContainer{
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    gap: 20px;
    margin-top: 15px;
  }

  .selectContainer>select{
    padding-inline: 10px;
    padding-block: 17px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(128, 128, 128, 0.452);
    outline: none;
    border-radius: 5px; 
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../assets/arrow.png'); 
    background-repeat: no-repeat;
    background-position: 95% center; 
    background-size: 16px;
    font-size: 17px;
  }


  .selectContainer>select>option{
    color: white;
    background-color: #000000;
    font-size: 16px;
    font-weight: 600;
  }

 

  .select1{
    width: 50%;
    position: relative;
  }

  .select1Img>img{
    position: absolute;
    top: 0;
    width: 5px;
    height: 10px;
  }
  
  .select2{
    width: 20%;
  }
  
  .select3{
    width: 30%;
  } */









  /*Step 2 css*/

  .none{
    width: 100%;
    height: 80%;
    margin-bottom: 200px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-inline: 70px;
    text-align: start;
    padding-top: 0px;
  }
  
  .none>h3{
    margin-bottom: 35px;
  }

  .p1{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 10px;
  }

  .nextBtn{
    margin-left: 0px;
    padding-inline: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nextBtn>button{
    width: 92%;
    padding-block:15px;
    border-radius: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
  }
  
  .nextBtn>button:disabled{
    color: black;
    background-color: rgb(120,122,122);
  }
  
  
  
  .arrow{
    color: wheat;
}


.checkBox{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  text-align: start;
  padding-bottom: 25px;
}


.checkBox>p{
  width: 85%;
  color: white;
  font-size: 15px;  
}


.checkBoxDiv{
  position: relative;
  display: flex;
  flex-direction: row;
  height: 50px;

}

.checkBoxDiv>input{
  position: absolute;
  top: 0;

  height: 20px;
  width: 20px;
}

.p2{
  color: grey;
  font-size: 15px;
}

.p2>a{
  line-height: 1px;
  display: inline-block;
  color: #0099ff;
  text-decoration: none;
}

.p2>a:hover{
  cursor: pointer ;
  text-decoration: underline;}



  .step3Div{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    padding-inline: 70px;
    /* margin-bottom: 50px;  */
  }

  .step3Div>h4{
    padding-bottom: 35px;
    padding-top: 30px;
    font-size: 30px;
    font-weight: 700;
  }

  .paragraph2{
    padding-right: 30px;
    width: 100%;
    font-size: 13px;
    color: #8b8b8bc8;
    text-align: left;
    padding-top: 40px;
    margin-bottom: 20px;
  }


  .paragraph2>a{
    display: inline-block;
    color: #0099ff;
  }
  .paragraph2>a:hover{
    cursor: pointer;
  }
 

  .tickicon{
    position: absolute;
    bottom: 10px;
    right: 10px;
  }



.step3NextBtn{
  margin-left: 0px;
  padding-inline: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step3NextBtn>button{
  border-color: #0099ff;
  color: White;
  width: 92%;
  padding-block:15px;
  border-radius: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  background-color:#0099ff ;
}